# Cấu hình Firebase cho Web App (Vercel & Local)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDF8dvjSahrKuiiiDyq4pnvgKpSkkjQT1M
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=aaaaaa-96365.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=aaaaaa-96365
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=aaaaaa-96365.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=136698238733
NEXT_PUBLIC_FIREBASE_APP_ID=1:136698238733:web:6ae0285648ff86de4bc244
NEXT_PUBLIC_ENABLE_STORAGE=false