# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# env (KHÔNG commit file .env thật)
.env
.env.local
.env.*.local
.env.development
.env.production

# firebase
.firebase/
firebase-debug.log
firestore-debug.log

# misc
.DS_Store
npm-debug.log*
.vercel
